@use '@/styles/colors.module' as colors;

@tailwind utilities;

@layer utilities {
  .presentationalSection {
    &RequestRegister {
      @apply w-full py-4 text-center text-xs tracking-[0.16em];

      > a {
        @apply text-xs underline;

        color: colors.$mainColor;
      }
    }

    &SearchField {
      @apply mx-auto mb-8 w-full max-w-xl;
    }

    &SearchFieldByPage {
      @apply w-full px-12 pb-2.5 pt-14;

      background-color: colors.$thinMainColor;

      > form {
        @apply mx-auto w-full max-w-xl;
      }
    }

    &Spots {
      @apply mx-auto w-full max-w-5xl px-4 py-5 pb-4;

      > h2 {
        color: colors.$mainColor;
      }
    }

    &Nospot {
      @apply mb-8 pt-4 text-center text-sm tracking-[0.12em];

      color: colors.$mainColor;
    }
  }
}
