@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .presentationalSection {
    @apply w-full max-w-lg mx-auto sm:pt-7 pt-6;
  }

  .presentationalFormTitle {
    @apply text-xl sm:mb-6 mb-4 font-semibold tracking-[0.08em];

    > span {
      @apply inline-block px-2 py-1;

      &:first-of-type {
        color: white;
        background-color: colors.$mainColor;
      }

      &:nth-of-type(2) {
        @apply ml-0.5 tracking-[0.16em];
        color: colors.$mainColor;
      }
    }
  }

  .presentationalForm {
    &GroupBox {
      @apply bg-white mb-1 sm:px-8 px-6 sm:py-6 py-5;

      &Unity {
        @apply mb-4;

        &:last-of-type {
          @apply mb-2;
        }
      }
    }

    &Label {
      @apply block mb-2 text-sm tracking-[0.12em];
      color: colors.$mainColor;

      &Annotation {
        @apply text-xs;
      }
    }
  }

  .presentationalErrorMessage {
    @apply ml-2 text-red-500 text-sm ;
  }

  .presentationalSubmit {
    @apply block mt-7 mb-9 mx-auto ;
  }
}
