@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .professorLink {
    @apply block mb-8;

    &Box {
      @apply relative block rounded-lg p-4 w-full max-w-5xl cursor-pointer ;
      background-color: colors.$thinMainColor;

      &Image {
        @apply relative inline-block align-bottom xsp:w-24 w-20 mr-3 xsp:rounded-lg rounded-md;

        > img {
          @apply absolute left-0 bottom-0 xsp:w-24 w-20 xsp:h-24 h-20 xsp:rounded-lg rounded-md object-cover;
          bottom: calc(0px + 0.725rem);
        }
      }

      &Score {
        @apply mb-3 inline-block align-bottom;
      }

      &ReviewNum {
        @apply absolute top-0 right-0 mt-4 xsp:mr-4 mr-3;

        @media (max-width: 390px) {
          @apply mt-5;
          height: calc(23px * 0.75);
        }

        > img {
          @apply absolute right-0 object-contain;
          @media (max-width: 390px) {
            height: calc(23px * 0.75);
          }
        }

        > span {
          @apply block text-xs mt-1 text-right;
          margin-top: calc(23px + 0.25rem);
          font-size: calc(0.75rem / 1.5);
          line-height: calc(1rem / 1.5);
          letter-spacing: -1px;
          @media (max-width: 390px) {
            margin-top: calc(23px * 0.75 + 0.25rem);
          }
          color: colors.$subColor;
        }
      }
    }

    &StarRating {
      @apply relative inline-block align-middle ml-[-0.2rem] mb-1;
  
      &ActiveStar,
      &InactiveStar,
      &IncompleteStar {
        @apply inline-block align-middle w-7 h-6;
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
      }
  
      &ActiveStar {
        background: colors.$subColor;
        -webkit-mask-image: url('/images/icons/mortar_board_active.png');
        mask-image: url('/images/icons/mortar_board_active.png');
      }
  
      &InactiveStar,
      &IncompleteStar {
        background: white;
        -webkit-mask-image: url('/images/icons/mortar_board_no_active.png');
        mask-image: url('/images/icons/mortar_board_no_active.png');
      }
    }

    &:disabled {
      opacity: 0.75;
      pointer-events: none;
    }
  }

  .professorName {
    @apply relative text-base xsp:ml-32 ml-28 xsp:mb-1 mb-0.5 font-semibold tracking-[0.16em];
    color: colors.$mainColor;

    .universityName {
      @apply absolute inline-block text-[10px] top-[0.5em];
    }
  }
  


  .professorFaculties {
    @apply text-xs tracking-[0.12em];
    color: colors.$mainColor;
  }

  .professorMeanScore {
    @apply relative inline-block text-3xl px-2.5 bg-white font-medium text-center rounded-lg w-12 align-middle mr-1.5;
    letter-spacing: 0;
    color: colors.$mainColor;
    font-family: 'Din1451AltG';

    &DecimalNum {
      @apply relative inline-block text-[1.5rem] px-0 bg-white font-medium text-center rounded-lg w-12 align-middle mr-1.5;
      letter-spacing: -1px;
      color: colors.$mainColor;
      font-family: 'Din1451AltG';

      > span {
        @apply inline-block ml-[-2px];
      }
    }
  }
}
