@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .authGuard {
    @apply fixed z-40 w-screen h-screen left-0;
    background-color: rgba($color: white, $alpha: 0.5);

    &Loading {
      @apply absolute top-1/2 left-1/2 w-20 h-20;
      transform: translateX(-50%);
      transform: translateY(-50%);

      > span {
        @apply relative inline-block align-middle;
        color: colors.$mainColor;
        line-height: 1;
        width: 5em;
        height: 5em;
        border: 0.4em solid currentColor;
        border-top-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 1s linear infinite;
        left: -50%;
        top: -100%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
