@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .presentational {
    &Section {

      &Upper,
      &Downer {
        @apply w-full sm:pt-10 xsp:pt-9 pt-7;

        &Box {
          @apply px-4 max-w-5xl w-full mx-auto;
        }
      }

      &Upper {
        background-color: white;
      }

      &Downer {
        @apply w-full sm:pt-10 xsp:pt-9 pt-7;
      }

      &NoMatch {
        @apply text-center text-sm mb-8 tracking-[0.12em];
      }
    }

    &Title {
      @apply text-xl font-semibold mt-[-0.375rem];
      > span {
        @apply inline-block align-middle;

        &:first-of-type {
          @apply inline-block px-2 py-1 mr-2 tracking-[0.08em];
          color: white;
          background-color: colors.$mainColor;
        }

        &:nth-of-type(2) {
          @apply text-base pt-1.5 tracking-[0.16em];
          color: colors.$mainColor;

          > span {
            @apply text-xs font-normal align-top tracking-[0.12em];
            color: colors.$subColor;
          }
        }
      }
    }

    &SearchConditions {
      &Title {
        @apply bg-white px-3 py-1.5 text-sm mb-0.5 tracking-[0.12em];
        color: colors.$mainColor;
      }
      &Box {
        @apply bg-white mb-1 sm:px-8 px-6 sm:py-6 py-5;

        &:first-of-type {
          @apply sm:pt-5 pt-4;
        }

        &Unity {
          @apply mb-4;
  
          &:last-of-type {
            @apply mb-2;
          }
        }
      }

      &Label {
        @apply block mb-2 text-sm tracking-[0.12em];
        color: colors.$mainColor;
  
        &Annotation {
          @apply text-xs;
        }
      }

      &NarrowDown {
        @apply text-center text-sm pt-1.5 pb-3 tracking-[0.12em];

        > span {
          @apply underline cursor-pointer;
          color: colors.$subColor;
        }

        &Submit {
          @apply block pt-6 pb-7 mx-auto ;
        }
      }
    }
  }
}
