$mainColor: #0046ad;
$thinMainColor: #dee8ff;
$subColor: #0090ff;
$accentColor: #7891fd;
$dangerColor: #f95668;

$placeholderColor: #d3d3d3;

// :export {
//   mainColor: $mainColor;
//   thinMainColor: $thinMainColor;
//   subColor: $subColor;
//   accentColor: $accentColor;
//   dangerColor: $dangerColor;
//   placeholderColor: $placeholderColor;
// }
