@mixin hiraginoKakuGothicProN_W3 {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin hiraginoKakuGothicProN_W6 {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin kozukaGothicPr6N_R {
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}