@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .starRatingFieldContainer {
    @apply flex justify-start sp:flex-row sp:items-center w-full max-w-lg ;

    @media (max-width: 430px) {
      @apply justify-center;
    }

  }

  .starRatingFieldLabel {
    @apply text-sm ;
  }

  .starRatingFieldInput {
    @apply hidden ;
  }

  .starRatingFieldStar,
  .starRatingFieldStarActive {
    @apply inline-block align-middle w-16 h-14 cursor-pointer ;

    @media (max-width: 399px) {
      @apply w-14 h-12;
    }

    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: background-color .2s;
  }

  .starRatingFieldStar {
    background-color: colors.$thinMainColor;
    -webkit-mask-image: url('/images/icons/mortar_board_no_active.png');
    mask-image: url('/images/icons/mortar_board_no_active.png');
  }

  .starRatingFieldStarActive {
    background-color: colors.$subColor;
    -webkit-mask-image: url('/images/icons/mortar_board_active.png');
    mask-image: url('/images/icons/mortar_board_active.png');
  }
}
