@tailwind utilities;

@layer utilities {
  .toggleFieldContainer {
    @apply flex items-center justify-between w-full max-w-lg ;
  }

  .toggleFieldLabel {
    @apply text-sm ;
  }

  .toggleField {
    @apply relative inline-block w-11 leading-6 tracking-normal text-base text-center bg-white cursor-pointer ;

    label:not(.swImg) {
      @apply block box-border h-6 rounded-full cursor-pointer ;
      border: 2px solid #999999;
    }

    input[type="checkbox"] {
      @apply hidden ;

      &:checked +label {
        border-color: #78bd78;
      }
    }
  }

  .swImg {
    @apply absolute block top-1 left-1 rounded-full w-4 h-4 cursor-pointer ;
    background: #999999;
    transition: .2s;
  }

  .toggleField input[type="checkbox"]:checked ~ .swImg {
    transform: translateX(20px);
    background: #78bd78;
  }
}
