@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .legalDocument {
    &Title {
      @apply text-xl font-semibold px-4 max-w-5xl mx-auto;
      > span {
        @apply inline-block align-middle px-2 py-1 tracking-[0.08em] text-white;
        background-color: colors.$mainColor;
      }
    }

    &Section {
      &Upper,
      &Downer {
        @apply w-full sm:py-8 py-7;

        h2 {
          @apply text-lg font-semibold my-3 mb-2;
          color: colors.$mainColor;
        }

        p {
          @apply text-sm mb-3 last-of-type:mb-0;
          color: colors.$mainColor;
        }

        ul {
          @apply list-none text-sm;

          > li {
            @apply mb-1.5 last-of-type:mb-0;

            > p {
              &:first-of-type {
                @apply mt-2 mb-1;
              }

              &:nth-of-type(2) {
                @apply my-1.5 pl-[22px];
              }
            }

            > ul {
              @apply list-none text-sm mb-4 pl-0 #{!important};

              > li {
                @apply my-1.5 pl-[22px];
              }
            }
          }

          // ol {
          //   list-style-type: lower-alpha;
          //   color: green;
          // }
        }

        ol {
          @apply list-decimal pl-[22px] mb-4 text-sm;
          color: colors.$mainColor;

          ol {
            list-style-type: lower-alpha;
          }

          li {
            @apply mb-1.5 last-of-type:mb-0;

            > p {
              &:first-of-type {
                @apply mt-2 mb-1;
              }

              &:nth-of-type(2) {
                @apply my-1.5;
              }
            }
          }
        }

        a {
          @apply underline text-sm;
          color: colors.$mainColor;
        }
      }

      &Upper {
        background-color: colors.$thinMainColor;
      }

      &Downer {
        @apply pt-0 pb-16;
        background-color: colors.$thinMainColor;

        > div {
          @apply w-full pt-0 px-4 max-w-5xl mx-auto;
        }
      }
    }
  }
}
