@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  visibility: hidden;
}

html.wf-active {
  visibility: visible;
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}

/**
  Toastify スタイル上書き
*/
.Toastify__toast {
  min-height: 0 !important;
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast-container {
  /** VSCode でエラーが発生する場合は setting.json に "scss.validate": false を追記 */
  @apply top-12 sm:top-20 #{!important};

  z-index: 80 !important;
  width: 100% !important;
  padding: 0 !important;
}

.Toastify__toast-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.Toastify__toast--info {
  color: white !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  @apply rounded-lg bg-blue-400 #{!important};
}

/* .Toastify__toast--error {
  color: white !important;
  background-color: colors.$dangerColor !important;
  box-shadow: none !important;
  border-radius: 0 !important;
} */
