@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .universityLink {
    @apply block rounded-lg p-4 w-full max-w-5xl cursor-pointer;
    background-color: colors.$thinMainColor;

    &Icon {
      @apply inline-block w-10 h-10 mr-4 rounded-lg align-middle bg-contain bg-no-repeat bg-none bg-center;
    }

    &TextContainer {
      @apply inline-block align-middle tracking-[0.16em];
    }

    &:disabled {
      opacity: 0.75;
      pointer-events: none;
    }
  }

  .universityName {
    @apply text-base mb-1.5 font-semibold;
    color: colors.$mainColor;
  }

  .universityAddress {
    @apply text-xs ;
    color: colors.$subColor;
  }
}
