@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .reviewSummary {
    @apply relative p-5 w-full max-w-5xl h-auto text-center;
    background-color: white;

    &Wrap {
      @apply flex justify-start items-center gap-x-4 w-full max-w-lg h-auto mx-auto opacity-0;
      transition: opacity .2s;
    }

    &ProfileBox {
      @apply relative w-[60px] h-full;
    }

    &ProfileImage {
      @apply relative w-[60px] h-[60px] rounded-[4px] mb-1.5 bg-cover bg-no-repeat bg-center;
      background-color: rgba($color: white, $alpha: 0);
    }

    &ProfileMean {
      @apply relative w-full text-3xl;
      color: colors.$mainColor;
      font-family: 'Din1451AltG';
    }

    &RatingBox {
      @apply relative max-w-full w-full h-full;
    }

    &RatingBarContainer {
      @apply relative h-[14px] mb-2 last-of-type:mb-0 mr-8 rounded-full;
      border: solid 1px colors.$subColor;

      &::after {
        @apply absolute inline-block w-auto h-5 top-1/2 right-0 text-sm;
        right: calc(0px - 2rem);
        transform: translateY(-50%);
        color: colors.$mainColor;
        font-family: 'Din1451AltG';
        content: attr(data-rate-num);
      }
    }

    &RatingBar {
      @apply relative h-3 rounded-full w-0 top-0 bottom-0 left-0 ml-2;
      background: colors.$subColor;
      transition: width 1s;

      &::before {
        @apply absolute inline-block w-4 h-4 top-1/2 left-0 text-[10px] leading-[14px] text-white rounded-full;
        left: calc(0px - (8px + 1px));
        transform: translateY(-50%);
        background: colors.$subColor;
        content: attr(data-rate);
        border: solid 1px white;
      }
    }
  }

  .isShow {
    opacity: 1 !important;
  }
}
