@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .searchField {
    @apply border rounded-lg px-4 py-1 w-full max-w-xl h-12 tracking-[0.08em];
    border-color: colors.$accentColor;
    box-shadow: 0 4px 10px rgba(0, 7, 150, 0.18) inset;

    &::placeholder {
      @apply p-0 tracking-[0.08em];
      color: colors.$placeholderColor;
  }

    &:disabled {
      opacity: 0.75;
      pointer-events: none;
    }
  }
}
