@use "@/styles/colors.module" as colors;

@tailwind utilities;

@layer utilities {
  .presentationalSection {

    &RequestRegister {
      @apply w-full text-center py-4 text-xs tracking-[0.16em];
      > a {
        @apply text-xs underline;
        color: colors.$mainColor;
      }
    }

    &SearchField {
      @apply w-full max-w-xl mx-auto mb-8 ;
    }

    &SearchFieldByPage {
      @apply w-full px-12 pt-14 pb-2.5;
      background-color: colors.$thinMainColor;

      > form {
        @apply w-full max-w-xl mx-auto;
      }
    }

    &Universities {
      @apply w-full max-w-5xl mx-auto px-4 py-5 pb-4;

      > h2 {
        color: colors.$mainColor;
      }
    }

    &NoUniversity {
      @apply text-center text-sm mb-8 pt-4 tracking-[0.12em];
      color: colors.$mainColor;
    }
  }
}
